/* Sticky file headers on pull request diff view */
.pull-request-tab-content .diff-view .file-header {
	position: sticky;
	top: 59px;
	z-index: 10;
}

/* Sticky file headers in regular file view */
.file .file-header {
	position: sticky;
	top: 0;
	z-index: 10;
}

/* Sticky table header on issues list */
.issues-listing .table-list-header {
	position: sticky;
	top: 0;
	/* Must be above .modal-backdrop (z-index 20) #1317 */
	z-index: 25;
}

/* Since the header is sticky, filters must now fit the viewport */
.issues-listing .table-list-header .select-menu-list {
	max-height: calc(100vh - 150px);
}
